<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
  <div class="container mt-3">
    <div class="card">
      <div class="card-header text-center">
        <h2>Editar Artigo</h2>
      </div>
      <div class="card-body p-3">
        <form class="form full-width" method="post" action="/admin/articles/save-edit">
          <label for="category">
            Escolha uma Categoria:
            <select class="form-control" selected="<%= article.categoryId %>" required name="category" id="category">
              <option value=''>Escolha Uma Categoria</option>
              <% categories.forEach(cat => { %>
                <option value="<%= cat.id %>" <% if (cat.id === article.categoryId) { %> selected <% } %>><%= cat.title %></option>
              <% }) %>
            </select>
          </label>
          <br>
          <label for="title">
            Titulo do Artigo:
            <input type="text" value="<%= article.title %>" required name="title" class="form-control" id="title" placeholder="Defina o Titulo do Artigo">
          </label>
          <br>
          <label for="body">
            Conteúdo do Artigo:
            <textarea class="form-control" name="body" id="bodyArticle" cols="40" rows="20" placeholder="Defina o Conteudo do seu artigo"><%= article.body %></textarea>
          </label>
          <br>
          <input type="hidden" name="id" value="<%= article.id %>">
          <button type="submit" class="btn btn-success px-3">Atualizar</button>
          <a class="btn btn-danger px-3" href="/admin/articles/">Cancelar</a>
        </form>
      </div>
    </div>
  </div>

<%- include("../../partials/footer.ejs") %>
<script src="/js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '#bodyArticle',
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons',
    ],
    language: 'pt_BR'
  })
</script>