<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
  <div class="container mt-3">
    <div class="card">
      <div class="card-header text-center">
        <h2>Editar Categoria</h2>
      </div>
      <div class="card-body p-3">
        <form method="POST" action="/admin/categories/save-edit">
          <label for="title">Nome da Categoria:</label>
          <input type="hidden" required name="id" value="<%= category.id %>">
          <input type="text" required name="title" value="<%= category.title %>" class="form-control" id="title" placeholder="Defina o nome da Categoria">
          <br>
          <button class="btn btn-success px-3">Atualizar</button>
          <a class="btn btn-danger px-3" href="/admin/categories/">Cancelar</a>
        </form>
      </div>
    </div>
  </div>

<%- include("../../partials/footer.ejs") %>
