<%- include("partials/header.ejs") %>
<%- include("partials/homenavbar.ejs") %>
<body>
  <div class="container">
    <h1 class="text-center mt-5">Categoria: <%= category.title %></h1>
    <% if (!articles.length) {%>
      <p class="text-center">Não existe nenhum artigo nesta categoria</p>   
    <% } %>
    <% articles.forEach(article => { %>
      <div class="card mt-5 mb-3">
          <div class="card-header">
            <%= article.title %>
          </div>
          <div class="card-body">
              <div class="limit">
              </div>
            <a class="btn btn-link" href="/<%= article.slug %>">Ler Artigo</a>
          </div>
      </div>
    <% }) %>
</div>
</body>
<%- include("partials/footer.ejs") %>
